

body {

    font-family: 'Merriweather', serif;
}
.main-nav {
    padding: 20px;
    font-size:20px;
    border: solid black 1px;
    
}
.nav-link {
    padding-right: 10px;
}

.nav-link:last-of-type {
    padding-right: 0;
}

.page-title {
    background-color: lightskyblue;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-family: 'Pacifico', cursive;

}
.entire-blog {
    margin: 20px;
}

.post-container {
    border-bottom: 1px solid black;
   padding-bottom: 5px;
}

.post-body {
    max-width: 650px;
}

@media(min-width: 600px) {
    .entire-blog {
        margin: 0px;
    }
    .post-container {
        margin: 20px 10px 20px 10px;
     }
   .post-title {
       background-color: aqua;
   }
        
 }
